.nav {
  max-width: 124rem;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-family: var(--default-font);
  border-bottom: 1px solid var(--dark-grayish-blue);
  @media screen and (max-width: 900px) {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 700px) {
    padding: 1rem 2rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: none;
    font-size: 1.6rem;
  }

  &__menu-box {
    height: 2rem;
    min-width: 1.6rem;
    margin-right: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    @media screen and (max-width: 700px) {
      display: flex;
    }
  }
  &__menu {
    width: 100%;
    height: 3px;
    background-color: black;
    position: relative;
    transition: all 0.2s;
    &::after {
      content: "";
      width: 100%;
      height: 3px;
      background-color: black;
      position: absolute;
      top: 6px;
      transition: all 0.2s;
    }
    &::before {
      content: "";
      width: 100%;
      height: 3px;
      background-color: black;
      position: absolute;
      top: -6px;
      transition: all 0.2s;
    }
    &--active {
      background-color: transparent;
      &::after {
        top: 0;
        transform: rotate(135deg);
      }
      &::before {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }
  &__logo-box {
    margin-right: 4rem;

    @media screen and (max-width: 700px) {
      transform: translateY(2px);
      margin-right: 1rem;
      width: 12rem;
      min-width: 12rem;
    }
  }
  &__logo {
    width: 100%;
    object-fit: contain;
  }
  &__desktop {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    @media screen and (max-width: 700px) {
      display: none;
    }
    li a {
      padding: 4rem 0;
      display: block;
      text-decoration: none;
      color: var(--dark-grayish-blue);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 4px;
        width: 0;
        background-color: var(--orange);
        transition: width 0.5s;
      }
      &:hover::after {
        width: 100%;
      }
      &:hover {
        color: black;
      }
    }
  }
  &__mobile-menu {
    display: none;
    @media screen and (max-width: 700px) {
      display: block;
    }
  }
  &__mobile-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    opacity: 0;
    z-index: 900;
    transform: translateX(-200%);
    transition: all 0.7s 0.5s;
    &--active {
      opacity: 1;
      transform: translateX(0);
      transition: all 0.7s;
    }
  }
  &__mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    min-width: 20rem;
    background-color: #fff;
    height: 100vh;
    z-index: 950;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 8rem;
    transform: translateX(-200%);
    transition: transform 0.8s;
    list-style: none;
    &--active {
      transform: translateX(0);
      transition: transform 0.8s 0.4s;
    }
    li a {
      text-decoration: none;
      font-weight: 700;
      color: black;
      padding: 1rem 0 1rem 2rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 0;
        width: 4px;
        transform: translateY(-50%);
        background-color: var(--orange);
        transition: height 0.3s;
      }
      &:hover::after {
        height: 100%;
      }
    }
  }
  &__user-interface {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 4rem;
    @media screen and (max-width: 700px) {
      gap: 2rem;
    }
  }
  &__cart {
    transform: translateY(2px);
    fill: var(--dark-grayish-blue);
    cursor: pointer;
    transition: fill 0.3s;

    &:hover {
      fill: black;
    }
  }
  &__cart-box {
    position: relative;
    font-size: 16px !important;
  }
  &__products-in-cart {
    position: absolute;
    top: -5px;
    left: 10px;
    line-height: 1;
    padding: 2px 7px;
    background-color: var(--orange);
    font-size: 10px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__cart-content {
    position: absolute;
    top: 200%;
    right: 0;
    transform: translateX(50%);
    width: 32rem;
    min-height: 20rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #ccc;
    z-index: 800;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 900px) {
      top: 10rem;
      right: 50%;
      position: fixed;
    }
    @media screen and (max-width: 700px) {
      top: 6rem;
    }
    @media screen and (max-width: 330px) {
      width: 25rem;
    }
  }
  &__cart-content-1 {
    padding: 2rem;
    font-weight: bold;
    border-bottom: 1px solid var(--grayish-blue);
  }
  &__cart-content-2 {
    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--dark-grayish-blue);
  }
  &__profile-box {
    width: 5rem;
    height: 5rem;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.3s;
    @media screen and (max-width: 700px) {
      width: 3rem;
      height: 3rem;
    }
    &:hover {
      border-color: var(--orange);
    }
  }

  &__profile {
    width: 100%;
  }
}

.product {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  &__btn {
    width: 100%;
    height: 4.5rem;
    color: white;
    font-weight: bold;
    font-family: inherit;
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  &__text {
    p {
      font-weight: normal;
      font-size: 15px;
      @media screen and (max-width: 330px) {
        font-size: 13px;
      }
    }
    span {
      font-weight: bold;
      color: black;
    }
  }
  &__trashcan {
    fill: var(--grayish-blue);
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      fill: black;
    }
  }
  &__img-box {
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 10px;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}
